#====================================#
# ALIASES
#====================================#

# --- Speed Dial ---
alias <name>='command -v termux-telephony-call >/dev/null 2>&1 && termux-telephony-call <number>'


# --- Basic ---
alias cl='source $HOME/.profile'
alias la='ls -a'
alias ll='ls -l'


